.gary_photo_grid > .et_pb_module_inner {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

.gary_photo_grid_child{
    margin-bottom:0px !important;
    }

.grid_card {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 0;
    padding: 100% 10px 10px 10px;
    justify-content: center;
    background: #000;
    opacity: 0;
}

.grid_card:hover {
    opacity: 1;
    transition: 100ms;
}

.grid_card a {
    margin-top: -100%;
}

.grid_card h3, .grid_card p {
    color: #fff;
}
